/*////////// Global tags //////////*/

/*////////// ID Selectors //////////*/

#createFileBtn {
    display: inline;
    float: right;
    margin: 20px 0 0 0;
}

#listHeader.row {
    height: 23.5px;
    font-weight: 700;
}

#documentListID {
    margin-top: 20px;
}

#projectFilesHeader {
    display: inline;
    
}

#createFileDropDown {
    width: 300px;
    height: 270px;
    padding: 20px;
}

#createFileHeader {
    font-size: 20pt;
    font-weight: 600;
    text-align: center;
}

#fileNameInput {
    border: 1px solid lightgray;
    box-shadow: none;
    margin-bottom: 15px;
    width: 100%;
}

#fileTypeInput {
    width: 100%;
}

#createFileSubmitBtn {
    margin: 15px 76px 0 76px;
  
}

/*////////// Class Selectors //////////*/

.documentList {
    border: 2px solid gray;
}

.documentListItem {
    margin-top: 0.25%;
    border: 1px solid lightgray;
    border-radius: 6px;
    padding-left: 5px;
}

.documentListItem:hover {
    background-color: lightgray;
    border: 1px solid gray;
}

.editButton {
    float: right;
    padding: 0% 10% 0% 10%;
    margin: 3.5% -20% 0% 0%;
    border-radius: 4px;
    font-size: 80%;
}

.clickableDiv {
    display: block;
    position: relative;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
}

.listText {
    padding-top: 6px;
}

.listTop {
    margin: 23px 0 0 0;
   padding: 20px 0 0 0;
}

.inputLablel {
    text-align:left;
    font-weight: 700;
}

.optionsButton {
    margin-top: 50%;
}

.right-float {
    float: right;
}