/*////////// Global tags //////////*/

/*////////// ID Selectors //////////*/

/*////////// Class Selectors //////////*/

.documentList {
    border: 2px solid gray;
}

.documentListItem {
    margin-top: 0.25%;
    border: 1px solid lightgray;
    border-radius: 6px;
    padding-left: 5px;
}

.documentListItem:hover {
    background-color: lightgray;
    border: 1px solid gray;
}

.editButton {
    float: right;
    padding: 0% 10% 0% 10%;
    margin: 3.5% -20% 0% 0%;
    border-radius: 4px;
    font-size: 80%;
}

.clickableDiv {
    display: block;
    position: relative;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
}