/*////////// Global tags //////////*/

/*////////// ID Selectors //////////*/

#editorID {
    position: relative;
    width: 1000px;
    height: 600px;
    border-radius: 12px;
    margin: 5%;
    min-height: 100%;
}


/*////////// Class Selectors //////////*/

.addToBody {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
    overflow-x: hidden;
}

.projectNav {
    padding-top: 20px;
    position:fixed;
    z-index:1000;
    top: 0;
    bottom: 0;
    width: 200px;
    background-color: white;
    border-right: 1px solid darkgray;  
    transform: translate3d(-160px, 0, 0);
    transition: transform 0.4s ease;
}

.activeNav {
    transform: translate3d(40px, 0, 0);
}

.projectNav ul {
    list-style: none;
    margin-top: 50px;
    padding: 20px 0 0 0;
}



.navToggle {
    display: block;
    position: fixed; 
    top: 75px;
    width: 40px;
    height: 100%;
    background-color: white;
    border-right: 1px solid darkgray;
    z-index: 2000;
}

.changeWidth {
    width: 100%;
    padding-left: 10px;
    padding-right: 0px;
}

.editorContent {
    height: 100%;
    padding-left: 100px;
    transition: margin-left 0.4s ease;
}

.hideFooter {
    display: none;
    background-color:green;
}

.verticalText {
    transform: rotate(-90deg);
    color: darkgray;
    padding-left: 10px;
    padding-top: 8px;
    cursor: default;
    margin-left: -45px;
    width: 130px;
    height: 40px;
    border-left: 1px solid darkgray;
    border-bottom: 1px solid darkgray;
    user-select: none;  
}

.hideHeader {
    display: none;
}

.showHeader {
    display:block;
}

.navigationLink {
    padding: 5px 0 0 10px;
    color: black;
    user-select: none; 
    cursor:default;
}

.selectedNav {
    background-color: lightgray;
}

.navbar {
    z-index: 3000;
}
