/*////////// Global tags //////////*/

/*////////// ID Selectors //////////*/

#editorID {
    position: relative;
    width: 97.5%;
    height: 600px;
    margin-left: 2%;
    min-height: 100%;
}

#saveFileBtn {
    float: right;
    margin-right: -3px;
}

#editorHeaderContainer {
    margin-left: 3%;
    margin-top: -0.5%;
    position: relative;
    height: 45px;
    width: 102%;
}
#currentUser {
    display: none;
    color: green;
    border: 2px solid green;
}

/*////////// Class Selectors //////////*/

.addToBody {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
    overflow-x: hidden;
}

.documentNav {
    list-style-type: none;
}

.documentNavItem:before {
    content: "\e022";
    font-family: 'Glyphicons Halflings';
    font-size: 12px;
    float: left;
    margin-top: 50px;
    margin-left: -25px;
    color: #8ddefc;
    color: rgba(142, 222, 253, 0.55);
}

.projectNav {
    padding-top: 20px;
    position:fixed;
    z-index:1000;
    top: 0;
    bottom: 0;
    width: 200px;
    background-color: white;
    border-right: 1px solid darkgray;  
    transform: translate3d(-160px, 0, 0);
    transition: transform 0.4s ease;
}

.activeNav {
    transform: translate3d(40px, 0, 0);
}

.projectNav div {
    list-style: none;
    text-align: center;
    top: 50px;
    position: relative;
    margin-top: 7px;
    padding: 0 0 0 0;
}



.navToggle {
    display: block;
    position: fixed; 
    top: 75px;
    width: 40px;
    height: 100%;
    background-color: white;
    border-right: 1px solid darkgray;
    z-index: 2000;
}

.changeWidth {
    width: 100%;
    padding-left: 10px;
    padding-right: 0;
}

.editorContent {
    width: 106%;
    transition: margin-left 0.4s ease;
}

.hideFooter {
    display: none;
    background-color:green;
}

.verticalText {
    transform: rotate(-90deg);
    color: darkgray;
    padding-left: 10px;
    padding-top: 8px;
    cursor: default;
    margin-left: -45px;
    width: 130px;
    height: 40px;
    border-left: 1px solid darkgray;
    border-bottom: 1px solid darkgray;
    user-select: none;  
}

.hideHeader {
    display: none;
}

.showHeader {
    display:block;
}

.navigationLink {
    padding: 5px 0 0 10px;
    color: black;
    user-select: none; 
    cursor:default;
}

.selectedNav {
    width: 100%;
    border-radius: 10px 0 0 10px;
    background-color: lightgray;
}

.navbar {
    z-index: 3000;
}

.editorHeader {
    float: left;
    padding: 0 14px 0 25px;
    font-size: 25px;
    font-weight: bold;
}

.mymarker {
    position: absolute;
    border: 2px solid green;
}
