/*////////// Global tags //////////*/

/*////////// ID Selectors //////////*/
#Name {
    border: 1px solid lightgray;
}

#RenameProjectErrorDiv {
    display:none;
}

/*////////// Class Selectors //////////*/
.row  div a{   
    text-decoration: none;
}

.lastRow {
    margin-top: 0;
    position: relative;
    top: 25%;
}
/*.projectContainer {
    border: 1px solid #E8E4E4;

    max-width: 30%; 
    width: 30%; 

    max-height: 450px;
    height: 450px;

    margin-top: 15px;
    margin-left: 15px;  
    margin-bottom: 15px;
    box-sizing: border-box;
    float: left;   
    display: block;
}*/

.panel-footer {
    height: 30%;
    background-color:white;
}

.panel-heading {
    background-color:gainsboro;
}

#top-column-area {
    background-color: gainsboro;
    height: 100%;
    background-size: contain;
    margin-left: 15px;
    border-radius: 2px 2px 0px 0px;
}

.project-panel-box {
    height:200px;
}

.project-panel-box:hover {
    box-shadow: 0 0 1pt 1pt rgb(87, 164, 230);
	outline: none;
}

.modal-content {
    margin-top:20%
}

.top-column-header {
    width: 100%;
} 

.optionsMenu {
    min-width: 100px;
}

.projectButton {
    font-size: 15px;
    padding-bottom: 9px;
    margin-left: 15px;
}

.projectButton:hover {
    background-color: gainsboro;
}