/*////////// Global tags //////////*/

/*////////// ID Selectors //////////*/
#Name {
    border: 1px solid lightgray;
}

#RenameProjectErrorDiv {
    display:none;
}

#userListInput {
    width: 100%;
    max-width: 100%;
    border: 1px solid lightgray;
    box-shadow: none;
}
#usersAutoComplete {
    width: 100%;
    padding-left: 0;
    list-style-type: none;
    box-shadow: 0 0 5px #1b1f23;
    box-shadow: 0 0 5px rgba(27,31,35,0.3);
}

#usersAutoComplete li {
  color: #666;
   width: 100%;
   padding-left: 4px;
   padding-top: 4px;
}

#usersAutoComplete li:hover {
   background-color: #EEE;
}

#InviteUserModal {
    margin-top: -20px;
}

#collaboratorsList {
    list-style-type: none;
    padding-left: 0;
    height:200px;
    overflow:hidden; 
    overflow-y:scroll;
    box-shadow: 0 0 5px #1b1f23;
    box-shadow: 0 0 5px rgba(27,31,35,0.3);
}

#top-column-area {
    background-color: gainsboro;
    height: 100%;
    background-size: contain;
    margin-left: 15px;
    border-radius: 2px 2px 0 0;
}

#nameLbl {
    display:block;
    font-size: 20px;
}

#AddProjectTextBox {
    width: 80%;
    max-width: 80%;
    display: inline;
    box-shadow: 0 0 5px #1b1f23;
    box-shadow: 0 0 5px rgba(27,31,35,0.3);
    margin-bottom: 20px;
}

#AddProjectDropDown {
    width: 16%;
    display:inline;
    float:right;
    margin-right: 13px;
    font-size: 20px;
    box-shadow: 0 0 5px #1b1f23;
    box-shadow: 0 0 5px rgba(27,31,35,0.3);
}

#projectTextBoxID {
    width: 100%;
    max-width: 100%;
    display: inline;
    box-shadow: 0 0 5px #1b1f23;
    box-shadow: 0 0 5px rgba(27,31,35,0.3);
    margin-bottom: 20px;
}

/*////////// Class Selectors //////////*/
.row {
    margin-top:10px;
}

.row  div a{   
    text-decoration: none;
}

.lastRow {
    margin-top: 0;
    position: relative;
}

.panel-footer {
    height: 30%;
    background-color:white;
}

.panel-heading {
    background-color:gainsboro;
}

.project-panel-box {
    height:240px;
}

.project-panel-box:hover {
    box-shadow: 0 0 1pt 1pt rgb(87, 164, 230);
	outline: none;
}

.modal-content {
    margin-top:20%
}

.top-column-header {
    width: 100%;
} 

.optionsMenu {
    min-width: 100px;
}

.projectButton {
    font-size: 15px;
    padding-bottom: 9px;
    margin-left: 15px;
    margin-top: 2px;
}

.projectButton:hover {
    background-color: gainsboro;
}

.hideOverFlow {
    text-overflow: ellipsis;
    overflow: hidden;
}

.dateCreatedClass {
    margin-top: -15px;
}

.projectType {
    margin-top: -15px;
}

.creatorClass, .dateCreatedClass, .projectType {
    color:gray;
}

.hideInput {
    display: none;
}

.displayUserLI {
    padding: 10px 0 10px 0;
    padding-left: 5px;
    font-weight: 700;
    font-size: 15px;
}

.displayUserLI:hover{
    background-color: gainsboro;
    
}

.displayUserLI button {
    float: right;  
    margin-left: 5px;
    margin-right: 5px;
}

.ownerLbl {
    float:right;
    font-weight:400;
    margin-right: 25px;
}

.userEmail {
    font-weight: 400;
    text-overflow: ellipsis;
    overflow: hidden;
}

