@{
    ViewBag.Title = "About";
}

<body>
    <h2>About Code Cloud</h2>
    <p>Chuck ipsum. Multiple people have died from Chuck Norris giving them the finger. Chuck Norris doesn’t need to swallow when eating food. Crop circles are Chuck Norris' way of telling the world that sometimes corn needs to lie the f*ck down. Chuck Norris ordered a Big Mac at Burger King, and got one.</p>

    <h2>The team</h2>
    <p>Out team includes six students currently studying computer science in Reykjavík University in Iceland</p>

    <div class="imgrow">
        <img id="member1" src="https://cdn2.iconfinder.com/data/icons/male-users-2/512/13-512.png" alt="Team member 1 image" height="200"/>
        <img id="member2" src="https://cdn0.iconfinder.com/data/icons/avatars-3/512/avatar_hoody_guy-512.png" alt="Team member 2 image" height="200"/>
        <img id="member3" src="https://cdn2.iconfinder.com/data/icons/male-users-2/512/8-512.png" alt="Team member 3 image" height="200"/>
    </div>
    <div class="imgrow">
        <img id="member4" src="https://cdn2.iconfinder.com/data/icons/male-users-2/512/9-512.png" alt="Team member 4 image" height="200"/>
        <img id="member5" src="https://cdn2.iconfinder.com/data/icons/male-users-2/512/7-512.png" alt="Team member 5 image" height="200"/>
        <img id="member6" src="https://cdn2.iconfinder.com/data/icons/male-users-2/512/5-512.png" alt="Team member 6 image" height="200"/>
    </div>
    
</body>

