@{
    ViewBag.Title = "About";
}

<body>
    <h2>About Code Cloud</h2>
    <br/><br />
    <p> This project is a cloud based code editor written with the ASP .NET framework which uses the SignalR API where multiple programmers
        can work simultaneously in the same project and see each other changes
        in real-time.<br/><br />
        The project was developed using Visual Studio 2015 Community.<br /><br />

        Please beware of the following features in our project:<br /><br />
 
        Start a new project from the projects page.<br /><br />
        When clicking the add project button, enter a project name and choose
        a project type.<br /><br />

        It is possible to invite multiple user to the same project and work
        on it simultaneously.<br /><br />

        To get additional project options click the options button on the
        following project.<br /><br />

        It is possible to switch between multiple files in the same project
        in the navigation menu without loosing any code due to the 
        auto-save feature.<br /><br />

        -- Responsiveness --<br /><br />

        We made the window responsive to enhance quality on low resolution screens.<br /><br />

        -- REQUIREMENTS --<br /><br />

        Web browser(Chrome, FireFox, Edge)
        Visual Studio Community 2015<br /><br/>
 
        -- CONTACT --<br /><br />

        Current maintainers:<br />
        Atli Þrastarson        - atlit06@ru.is<br /><br />
        Benedikt Óskarsson     - benedikto16@ru.is<br /><br />
        Daníel Örn Melstað     - danielm15@ru.is<br /><br />
        Jóhann Atli Johannsson - johannaj16@ru.is<br /><br />
        Sölvi Baldursson       - solvib11@ru.is<br /></p>

    <h2>The team</h2>
    <p>Out team includes six students currently studying computer science in Reykjavík University in Iceland</p>

    <div class="imgrow">
        <img id="member1" src="https://cdn2.iconfinder.com/data/icons/male-users-2/512/13-512.png" alt="Team member 1 image" height="200"/>
        <img id="member2" src="https://cdn0.iconfinder.com/data/icons/avatars-3/512/avatar_hoody_guy-512.png" alt="Team member 2 image" height="200"/>
        <img id="member3" src="https://cdn2.iconfinder.com/data/icons/male-users-2/512/8-512.png" alt="Team member 3 image" height="200"/>
    </div>
    <div class="imgrow">
        <img id="member4" src="https://cdn2.iconfinder.com/data/icons/male-users-2/512/9-512.png" alt="Team member 4 image" height="200"/>
        <img id="member5" src="https://cdn2.iconfinder.com/data/icons/male-users-2/512/7-512.png" alt="Team member 5 image" height="200"/>
        <img id="member6" src="https://cdn2.iconfinder.com/data/icons/male-users-2/512/5-512.png" alt="Team member 6 image" height="200"/>
    </div>
    
</body>

