@{
    ViewBag.Title = "Home Page";
}

<div class="row">
         <h1>Code Cloud</h1>
         <p class="frontPageText">
             Code Cloud is a group project for the class Semester Project 2 in Reykjavik University
         </p>
         <p class="frontPageText">
             Code Cloud is a cloud based editor for programmers. It gives programmers the option to work on code wherever they are and wihout having to install some IDE's.
         </p>

    <div class="imageDiv">
        <img src="~/Content/Img/indridi.jpg" />
        
    </div>

    <div class="mainFeatures">
        <section class="mainFeaturesBox">
            <p class="frontPageText boxText"> Create your own projects and invite other users to participate in them </p class="frontPageText">
        </section>
        <section class="mainFeaturesBox">
            <p class="frontPageText boxText"> Different types of projects. All major languages included </p>
        </section>
        <section class="mainFeaturesBox">
            <p class="frontPageText boxText"> Work in the same file and see changes in realtime from other users </p>
        </section>
    </div>
</div>