@{
    ViewBag.Title = "Home Page";
}

<div class="row">
         <h1>Code Cloud</h1>
         <p>
             Integer feugiat mi in leo consectetur, et commodo purus posuere. Praesent consectetur, libero hendrerit mattis iaculis, tellus felis dapibus magna, a suscipit eros est non ligula. Fusce elementum lorem quis libero placerat semper. Sed tincidunt posuere urna, vitae consequat risus. Donec suscipit est sed magna lobortis, nec maximus metus mollis. Pellentesque aliquam tristique dui, eu ornare sapien dignissim ac. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Duis auctor turpis ac sagittis aliquam. Sed ac lacinia nulla, id vehicula quam. Curabitur pellentesque lectus vitae accumsan scelerisque. Sed varius vitae sem id viverra. Morbi convallis, felis id ultrices lacinia, diam felis luctus elit, non auctor ex nunc id nisi. Ut convallis fermentum lectus at elementum. Praesent nec accumsan augue. Nulla eleifend elementum nisl, ut sollicitudin urna pulvinar in. Duis laoreet lacinia nisi, quis aliquet ligula interdum dapibus.
         </p>
         <p>
             Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis vitae sodales arcu. Nunc eget eros eu massa tristique feugiat. In hac habitasse platea dictumst. Phasellus at elit non neque interdum venenatis at eu erat. Morbi in molestie nibh. Proin vitae mauris in nunc convallis pulvinar ut eu leo. In feugiat risus accumsan commodo tristique. Integer congue sit amet dolor in commodo. Maecenas elementum lobortis mi eget facilisis. Morbi tincidunt urna diam. Integer suscipit, quam a cursus condimentum, justo lorem ultrices nibh, ut rutrum dui enim at mauris. Curabitur ut vestibulum diam. Donec iaculis tincidunt lectus, maximus sagittis lorem placerat vel. Phasellus eget nunc a orci euismod dictum. Pellentesque tortor nunc, egestas in porta vel, elementum ac lacus. Nam quis neque et enim posuere feugiat.
         </p>

    <div class="imageDiv">

        <div class="slideshow-container">
            <div class="mySlides fade">
                <div class="numbertext">1 / 3</div>
                <img src="~/Content/Img/FileView.png">
                <div class="text">Caption Text</div>
            </div>

            <div class="mySlides fade">
                <div class="numbertext">2 / 3</div>
                <img src="~/Content/Img/2.png">
                <div class="text">Caption Two</div>
            </div>

            <div class="mySlides fade">
                <div class="numbertext">3 / 3</div>
                <img src="~/Content/Img/3.png">
                <div class="text">Caption Three</div>
            </div>
            <!--
            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
            <a class="next" onclick="plusSlides(1)">&#10095;</a>
          -->
       </div>
        <br>

        <div style="text-align:center">
            <span class="dot" onclick="currentSlide(1)"></span>
            <span class="dot" onclick="currentSlide(2)"></span>
            <span class="dot" onclick="currentSlide(3)"></span>
        </div>

        
        <span class="glyphicon glyphicon-arrow-left" id="prevImage"></span>
        <span class="glyphicon glyphicon-arrow-right" id="nextImage"></span>
    </div>

    <p>
        Nam et convallis mi. Vestibulum vitae nulla volutpat enim porttitor consectetur nec eu quam. Duis id nibh eget sapien ultricies scelerisque non vitae risus. Etiam pretium elementum dictum. Nullam facilisis ante sed porttitor tincidunt. Praesent finibus libero ac ipsum suscipit, vitae tempus nulla pharetra. In iaculis sollicitudin neque, sit amet lacinia diam volutpat ultrices. Duis enim turpis, ultrices ac ullamcorper quis, tempus ultricies dui. Donec ac urna pharetra ligula facilisis convallis. Donec et augue vitae tellus tincidunt pharetra pellentesque id nibh. Nulla ullamcorper viverra dolor, sed blandit elit euismod id. Cras finibus egestas sapien egestas blandit. Donec sit amet interdum dui, eu ornare velit.
    </p>
</div>