@{
    ViewBag.Title = "Home Page";
}

<div class="row">
         <h1>Code Cloud</h1>
         <p>
             Code Cloud is a group project for the class Semester Project 2 in Reykjavik University
         </p>
         <p>
             Code Cloud is a cloud based editor for programmers. It gives programmers the option to work on code wherever they are and wihout having to install some IDE's.
         </p>

    <div class="imageDiv">
        Some pictures!!!! Mabe slider!
        
    </div>

    <p>
        Main features!!!!!
    </p>
</div>