@model Cloud_based_editor_VLN_2.Models.Entities.Project

@{
    ViewBag.Title = "Index";
}
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Invite to project @(Model.Name)</h4>
        </div>
        <div class="modal-body" id="InviteUserModal">
            <form id="InviteUserForm">
               
                @Html.HiddenFor(model => model.ID)
                @Html.TextBoxFor(model => model.Name, new { Value = "" , @placeholder = "Please enter username" })
                @*@Html.TextBox("InviteTxtBox", "", new { placeholder = "Please enter username" })*@

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" onclick="submitInviteName()" id="InviteUserSubmitBtn">Invite</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>

</div>
