@model Cloud_based_editor_VLN_2.Models.Entities.Project

@{
        var domainsList = new SelectList(new[]
        {
                new SelectListItem { Text = @"HTML", Value = "HTML", Selected = true },
                new SelectListItem { Text = @"C++", Value = "C++"},
                new SelectListItem { Text = @"Python", Value = "Python"},
                new SelectListItem { Text = @"C#", Value = "C#"},
                new SelectListItem { Text = @"Javascript", Value = "Javascript"},
                new SelectListItem { Text = @"Java", Value = "Java"},
                new SelectListItem { Text = @"C", Value = "C"},
                new SelectListItem { Text = @"Php", Value = "Php"},
                new SelectListItem { Text = @"Node.js", Value = "Node.js" },
                new SelectListItem { Text = @"Ruby", Value = "Ruby" },
            }, "Value", "Text");
}
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Add project </h4>
            </div>
            <div class="modal-body" id="InviteUserModal">
                <form id="AddProjectForm">

                    @Html.HiddenFor(model => model.OwnerID)
                    @*@Html.HiddenFor(model => model.AppUser.UserName)*@
                    @Html.LabelFor(model => model.Name)
                    @Html.TextBoxFor(model => model.Name, new { id="AddProjectTextBox" })
                    @*@Html.TextBox("InviteTxtBox", "", new { placeholder = "Please enter username" })*@
                    <div class="text-danger" id="AddProjectErrorDiv">

                    </div>
                    
                    @Html.DropDownListFor(m => m.ProjectType, domainsList, new { id = "AddProjectDropDown" })


                    
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" onclick="AddnewProjectFunc()">Create Project</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>  
        </div>

