@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-2">
        <span class="glyphicon glyphicon-arrow-left" id="prevImage"></span>
    </div>
    <div class="col-md-8">
        <div class="imageDiv">

        </div>
    </div>
    <div class="col-md-2">
        <span class="glyphicon glyphicon-arrow-right" id="nextImage"></span>
    </div>
</div>