
@{
    ViewBag.Title = "Index";
}

<script type="text/javascript">
    bodyMargin();
</script>

<nav class="projectNav" id="sideNav">
    <div href="#" class="navToggle"> <div class="verticalText" onclick="showNavBar();">Navigation</div> </div>
    <ul>
        <li><a href="#">Link1</a></li>
        <li><a href="#">Link2</a></li>
        <li><a href="#">Link3</a></li>
        <li><a href="#">Link4</a></li>
    </ul>
</nav>
<div class="editorContent" id="editorContentId">
    <h2>Editor</h2>
    <div id="editor">Editor</div>
</div>

<script>
    var editor = ace.edit("editor");
    editor.setTheme("ace/theme/twilight");
    editor.session.setMode("ace/mode/csharp");
</script>


