
@{
    ViewBag.Title = "Index";
}

<h2>Editor</h2>

<div id="editor">Editor</div>

<script>
    var editor = ace.edit("editor");
    editor.setTheme("ace/theme/twilight");
    editor.session.setMode("ace/mode/csharp");
</script>


